@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button */
.shadowButton {
	position: relative;
	overflow: hidden;
	transition: 0.6s;
	z-index: 1;
}

.shadowButton::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(126, 181, 249);
	height: 100%;
	width: 0%;
	z-index: -1;
	transition: 0.4s;
}
.shadowButton:hover::before {
	width: 100%;
}

/* Card box */
.card-box {
	transition: transform 0.3s ease-in-out;
}
.card-box:hover {
	transform: scale(1.1);
}
